<nav class="admin-navbar">
    <div class="brand">Admin • Talenta Sourcing</div>
  
    <ul class="links">
      <!--<li><a routerLink="/admin/dashboard" routerLinkActive="active">Tableau de bord</a></li> -->
      <li><a routerLink="/admin/quizzes" routerLinkActive="active">Questionnaires</a></li>
      <!-- <li><a routerLink="/admin/settings" routerLinkActive="active">Paramètres</a></li> -->
    </ul>
  
    <button class="logout" (click)="logout()" title="Se déconnecter">Logout</button>
  </nav>
  