<div class="container">
  <div class="row">
    <div id="option-tester" class="text-center">
      <p>
        Maintenant, vous allez effectuer un quiz de présélection. Vous avez
        besoin d’environ 30 minutes, d’une connexion internet, d’un casque et
        d’un microphone.
      </p>
      <div class="row">
        <div class="col-md-6">
          Si vous n’êtes pas encore prêt, aucun souci.<br />
          Vous pouvez toujours revenir sur cette page plus tard <br />
          <span class="text-red">
            mais d’abord, cliquez ici :
          </span>
          <div class="btn-center">
            <button class="btn btn-info">
              J’ENREGISTRE MES DONNEES <br />
              PERSONNELLES ET JE FAIS <br />
              LE TEST PLUS TARD
            </button>
          </div>
        </div>

        <div class="col-md-6">
          <p>
            Vous êtes prêts,<br />
            Mettez-vous à l’aise et bonne chance !<br />
            Cliquez ici
          </p>
          <button class="btn btn-info">JE FAIS LE TEST MAINTENANT !</button>
        </div>
      </div>
    </div>
  </div>
</div>
